body{
    background: #91daff !important;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
}
.icon{
    position: relative;
    top: -3.125rem;
    border-radius: 50%;
    width: 6.25rem;
    margin-bottom: -3.125rem;
}
